<h3>Create a new profile</h3>

<form action="/profile/<%= @user.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="profile[name]" >
  </div>

  <div class="form-group">
    <label for="number">PhoneNo</label>
    <input type="number" class="form-control" id="number" name="profile[phone_no]">
  </div>

  <div class="form-group">
    <label for="number">UserId</label>
    <input type="number" class="form-control" id="number" name="userid" value="<%= @user.id%>">
  </div>

  <input type="submit" value="Create">
</form>