/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';
@import 'welcomes.scss';
@import 'omniauth.scss';
@import 'profiles.scss';

/*fonts*/
$font1: 'Poppins', sans-serif;
$font2:'Ranchers', cursive;
$font3: 'Chilanka', cursive;



.navbar-brand {
  font-family: $font2;
}

.nav-link{
  font-family: $font1;
}

#login-button {
	background-color: red;
}

#index-page{
	height: 94vh;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	.btn {
		font-size: 10px;
	}

	.profile-name {
		font-family: $font3;
	}

	.title-name{
			font-size: 25px;
			font-family: $font3;
		}


	.grid-item-1{
		background-color:#edfffe;
		grid-row: 1/3;

		#dp {
			height: 100px;
			width: 100px;
			border-radius: 50%;
		} 
	}
	.grid-item-2{
		background-color: #ebebeb;
	}
	.grid-item-3{
		background-color: #ebebeb;
	}
	.grid-item-4{
		background-color: #ebebeb;
		grid-column: 2/3;
	}
	.grid-item-5{
		background-color: #ebebeb;
		grid-column: 3/4;
	}
	
}
